.scrollTop {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    height: 20px;
    z-index: 1000;
    cursor: pointer;
    animation: fadeIn 0.3;
    transition: opacity 0.4s;
    opacity: 0.5;
    border-radius: 10px;
}

.scrollTop {
    opacity: 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}